button {
    font-family: muli, sans-serif;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
}

#save-button {
    margin-top: 2rem;
}

#delete-button {
    position: absolute;
}