// Color input for sidebar

.color-input-wrapper {
    width: 22px;
    height: 22px;
    overflow: hidden;
    border-radius: 50%;
    left: -3px;
    z-index: 1;
    box-shadow: 0px 0px 0px 10px #fff inset;
    border: 2px solid white;
}

input[type=color] {
    border: none;
    width: 34px;
    height: 34px;
    margin-left: -6px;
    margin-top: -6px;
    cursor: pointer;
}

input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    background: none;
    z-index: 1;
}

input[type=range]:focus {
    outline: none;
}

// TRACK
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #FFFFFF;
    border-radius: 3px;
    border: 0px solid #000000;
    z-index: 1;
}


input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFFF;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #FFFFFF;
    border-radius: 3px;
    border: 0px solid #000000;
    z-index: 1;
}

// THUMB

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 2px #000000;
    border: 0px solid #000000;
    height: 18px;
    width: 0.35rem;
    border-radius: 3px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    z-index: 1;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 2px #000000;
    border: 0px solid #000000;
    height: 1.25rem;
    width: 0.35rem;
    border-radius: 3px;
    background: #FFFFFF;
    cursor: pointer;
    z-index: 1;
}