<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag("Raduga", suffix: assigns[:page_title] || " - Your Party") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/main.css")} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:title" content="raduga" />
    <meta property="og:description" content="Mood generator for your events" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="rduga.fly.dev" />
    <meta property="og:image" content="/og-image.jpg" />
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
