.rotating {
    animation: rotate-center 2s linear infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// ----

.animate-hue {
    animation: animate-hue 9s linear infinite;
}

@-webkit-keyframes animate-hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes animate-hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

// ----


// Used in sidebar to visually separate stuff
.backdrop {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    opacity: 0.5;
}

// Alpine related 
[x-cloak] {
    display: none !important;
}

.alert {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.visible {
    opacity: 1 !important;
}